weather-api/src/main/mule/get-geo-details.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="get:\geo:weather-api-config" doc:description="This flow returns all country names along with the country code.">
		<set-payload value='#[[
	{
	  "Country":"Australia",
	  "CountryCode":"AUD"
	
	},
	{
		"Country":"India",
		"CountryCode":"IN"
	
	}
]]' doc:name="Set Payload" doc:id="4f29feaf-3297-43b3-9bee-a2a32252cd81" />
		<ee:transform doc:name="Transform Message" doc:id="23c0f5b0-a8ca-4674-bdf9-a7a3ca80ef53" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>

    </flow>
	
</mule>
